<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">You work Agile. Teams deliver on a feature-by-feature basis and deliver business value at the end of every sprint. But do these features actually reach your customer at this same pace and generate business value straight away? And while we are at it: are you able to actually use feedback from your customer and apply it for use in the very next sprint?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Full pipeline automation</h4>
										<p class="text-muted">The options for automating your software delivery pipeline are endless. But what to choose? How to organize around this? And how do you <i>really</i> achieve this full hands-off software delivery process you envisioned? We can help you with that.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Infrastructure automation</h4>
										<p class="text-muted">Now that your software delivery process runs a smooth as a whistle, wouldn't it be great when target systems build up and tear down in a matter of minutes? That development, test and production environments are <i>really</i> identical? We can help you with that too!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">Our company is working with the best consultant and trainers around. Need training in Software Craftsmanship? Our developers will help you out. Need training in Agile to become a certified scrum master? Our Agile trainers will provide Agile Champions training for you. Need training in Continuious Delivery? Receive training from Dave Farley himself! We're offering classroom-based and in-company training.</p>
                </div>
            </div>
        </div>
    </section>