<!-- About Section -->
    <section id="training">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Training (under construction!)</h2>
                    <h3 class="section-subheading text-muted">As we partner with Dave Farley, we are able to deliver a Continuous Delivery training from the man coined this topic in the first place.</h3>
                </div>
            </div>
            <div class="row">
								<div class="col-lg-2"></div>
                <div class="col-lg-8">
<p>This training introduces you to every single topic related to Continuous Delivery.</p>
<h4>Programme and Course Overview</h4>
<p>You will benefit from this course if…</p>
<ul>
<li>you are an IT Manager, Architect or Operations Manager,</li>
<li>you are interested in improving the time to market of IT changes while reducing costs and improving quality.</li>
</ul>

<h4>What you will achieve</h4>

<p>After completing the 1-day training:</p>

<p>you will know:</p>
<ul>
<li>the core concepts of Continuous Delivery,</li>
<li>how to take the risk out of your IT investments,</li>
<li>how to release applications at very high pace with Continuous Delivery,</li>
<li>the next steps, so how to start with Continuous Delivery in your organization.</li>
</ul>

<p>You will have hands-on experience in:</p>
<ul>
<li>recognizing common wastes in software delivery processes.</li>
</ul>

<p>you will have the skills to:</p>
<ul>
<li>reducing operational costs,</li>
<li>improving overall quality,</li>
<li>shortening the time to market,</li>
<li>strengthening the bond with your customer,</li>
<li>build a competitive advantage with Continuous Delivery.</li>
</ul>


                </div>
								<div class="col-lg-2"></div>
            </div>
						<div class="row">
                <div class="col-lg-12 text-center">
										<br /><br />
										<p><a href="http://training.xebia.com/continuous-delivery-devops/introduction-to-docker"><button type="button" class="btn btn-success btn-lg">Register now!</button></a></p>
                </div>
						</div>
        </div>
    </section>