<!-- About Section -->
    <section id="training">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Training (under construction!)</h2>
                    <h3 class="section-subheading text-muted">As we partner with Dave Farley, we are able to deliver a Continuous Delivery training from the man coined this topic in the first place.</h3>
                </div>
            </div>
            <div class="row">
								<div class="col-lg-2"></div>
                <div class="col-lg-8">
<p>We have many trainings available which are related to the concepts of Continuous Delivery.</p>
<h4>Some of our trainings we have available:</h4>
<ul>
<li>Automating the Modern Datacenter, Development to Production by Mitchell Hashimoto</li>
<li>Automated Deployment (XL Deploy)</li>
<li>Introduction to Salt</li>
<li>Continuous Delivery Kick-start</li>
<li>Certified Continuous Delivery Engineer Curriculum</li>
<li>Automated Deployment (XL Deploy) for Freelancers</li>
<li>Puppet Fundamentals (Automated Provisioning)</li>
<li>Puppet Practitioner</li>
<li>Continuous Delivery Core Concepts</li>
<li>Continuous Integration</li>
<li>Team Foundation server 2013 - Advanced Topics</li>
<li>Application Lifecycle Management using Visual studio 2013</li>
</ul>

                </div>
								<div class="col-lg-2"></div>
            </div>
						<div class="row">
                <div class="col-lg-12 text-center">
										<br /><br />
										<p><a href="http://training.xebia.com/continuous-delivery-devops/"><button type="button" class="btn btn-success btn-lg">Register now!</button></a></p>
                </div>
						</div>
        </div>
    </section>